* {
  margin: 0;
  padding: 0;
}

.formu {
  width: 330px;
  padding: 70px;
  margin: auto;
  margin-top: 80px;
  color: white;
}

.textos {
  width: 100%;
  background: black;
  padding: 8px;
  margin-bottom: 14px;
  border: 1px solid white;
  font-size: 18px;
  color: white;
}
.boton {
  margin-bottom: 30px;
  width: 150px;
  font-size: 20px;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.formu h3 {
  font-size: 33px;
  margin-bottom: 10px;  
}

body{
  background-image: url('fondo.jpg'); 
}

